<template id="photo-map-popup-template">
  <div class="photo-map-popup" data-photo-map-open role="button" tabindex="0" aria-label="Open photo preview">
    <div class="photo-map-popup__frame">
      <img src="" alt="" loading="lazy">
      <div class="photo-map-popup__overlay">
        <button type="button" class="photo-map-popup__close" data-photo-map-close aria-label="Close preview">
          <i class="fa-solid fa-xmark" aria-hidden="true"></i>
        </button>
      </div>
      <div class="photo-map-popup__title-band">
        <div class="photo-map-popup__copy">
          <p class="photo-map-popup__title"></p>
          <p class="photo-map-popup__date"></p>
        </div>
      </div>
    </div>
  </div>
</template>
