<svg class="site-brand__logo-mark" viewBox="0 0 42 18" aria-hidden="true" focusable="false">
  <defs>
    <clipPath id="site-logo-slash-left-clip" clipPathUnits="userSpaceOnUse">
      <rect x="13.1" y="0" width="5.3" height="18"></rect>
    </clipPath>
  </defs>
  <g font-family="'Source Code Pro', ui-monospace, monospace" font-size="18" font-weight="800" letter-spacing="-1.3">
    <text class="site-brand__logo-angle site-brand__logo-angle--left" x="0.65" y="14">&lt;</text>
    <text class="site-brand__logo-slash" x="13.1" y="14">/</text>
    <text class="site-brand__logo-slash site-brand__logo-slash--left" x="13.1" y="14" clip-path="url(#site-logo-slash-left-clip)">/</text>
    <text class="site-brand__logo-angle site-brand__logo-angle--right" x="24.4" y="14">&gt;</text>
  </g>
</svg>
